
body{
	font-family: 'Indie Flower', cursive;
	/*background-image: url(../images/background.jpg);*/
	background-color: gray;
	/*background-repeat: no-repeat;
 	background-attachment: fixed;*/
 	width:100%;
 	height:100%;

 /*background-color: rgba(0, 0, 0, 0.88);*/ 
}
a {
  color: black;
}
a:hover {
  COLOR: dodgerblue;
}
.login-button{
	margin-top: 250px;
	margin-left: 400px;
}
#pics{
	margin-left: 39%;
	margin-top: 5%;

}
/*@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {*/
/*body {*/
/*width: 25%;*/
/*height: 70%;*/
/*font-size: 20px;*/
/*color: black;*/
/*} */